.header {
  background: #34495e;
  padding: 20px 15px;
}

.header__logo {
  max-width: 120px;
}

.header-nav {
}
.header-nav__link {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: white;
}

a:hover {
  color: #2980b9;
}

.content {
  max-width: 1200px;
  padding: 0px 15px;
  margin: auto;
}

.content__title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
  margin: 60px 0px;
  text-align: center;
}

.content__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 20px 0px;
}

.content-img__img {
  width: 100%;
}
