.header {
  background: #34495e;
  padding: 20px 15px;
}

.header__logo {
  max-width: 120px;
}

.header-nav {
}
.header-nav__link {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: white;
}

a:hover {
  color: #2980b9;
}

.content {
  max-width: 1200px;
  padding: 0px 15px;
  margin: auto;
}

.content__title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
  margin: 60px 0px;
  text-align: center;
}

.content__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding: 20px 0px;
}

.content-img__img {
  width: 100%;
}

.Item-info h2 {
  font-size: 36px;
  line-height: 30px;
  font-weight: 600px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.Item-info__text {
  width: 650px;
}

.Item-info__img {
  width: 850px;
}

.item-preim h2 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.item-preim hr {
  border: none; /* Убираем границу */
  background-color: #2980b9; /* Цвет линии */
  height: 3px; /* Толщина линии */
  width: 100px;
}

.item-preim__news p {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400px;
  margin: 20px;
  text-align: center;
  width: 200px;
  height: 150px;
  color: white;
  text-shadow: 2px 2px 10px black;
}

.item-otz h2 {
  font-size: 36px;
  line-height: 30px;
  font-weight: 600px;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}

.item-otz img {
  width: 300px;
}

.item-otz figcaption {
  font-size: 16px;
}
